@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/sage-dark-alpha.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/mint-alpha.css";
@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/mint-dark-alpha.css";

@layer base {
	:root {
		--color-cohere-volcanic: 33 33 33;
		--color-cohere-marble: 250 250 250;

		scroll-behavior: smooth;
		scroll-padding-top: 2rem;
		font-family: "JetBrains Mono", monospace;
	}

	:root[class~="dark"] {
		--color-cohere-volcanic: 250 250 250;
		--color-cohere-marble: 33 33 33;
	}

	body {
		color: var(--sage-11);
		background: var(--sage-1);
	}

	@media (prefers-color-scheme: dark) {
		body {
			color: var(--sage-dark-11);
			background: var(--sage-dark-1);
		}
	}
}
